.thumbnail {
  img {
    margin-top: 2vw;
    width: 30vw;
    height: 20vw;
    margin-left: 6vw;
  }
  button {
    font-size: 12px;
    border-radius: 7px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 32vw;
  }
}
